.input {
    padding: 0.8rem 1rem;
    margin-top: 1.4rem;
    width: 100%;
    font-size: 0.85rem;
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    border-bottom: 2px solid var(--main-color);
}

.input.error {
    border: 1px solid var(--danger-color);
}

@media (768px < width) {
    .input {
        padding: 1rem 1.2rem;
        font-size: 0.9rem;
    }
}
