.header {
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 3;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    z-index: 4;
}

.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    z-index: 1000;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

.text p {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    animation: frombottom 1s forwards;
}

.text h1 {
    color: var(--pure-white);
    opacity: 0;
    animation: frombottom 1s 0.2s forwards;
}

.text a {
    opacity: 0;
    animation: frombottom 1s 0.4s forwards;
}

.heading {
    color: var(--primary-color);
}

.homepage {
    background-image: url('../../../public/photos/homepagehero.jpg');
}

.services {
    background-image: url('../../../public/photos/serviceshero.jpg');
}

.aboutus {
    background-image: url('../../../public/photos/aboutushero.jpg');
}

.contact {
    background-image: url('../../../public/photos/contacthero.jpg');
}

.team {
    background-image: url('../../../public/photos/teamhero.jpg');
}

@media (min-width: 786px) {
    .header {
        height: 80vh;
    }

    .text p {
        font-size: 1.2rem;
    }

    .text a {
        font-size: 1.1rem;
    }
}

@media (min-width: 1000px) {
    .header {
        height: 75vh;
    }

    .text p {
        font-size: 1.3rem;
    }

    .text a {
        font-size: 1.2rem;
    }
}

@keyframes frombottom {
    0% {
        opacity: 0;
        transform: translate(0, 300%);
    }
    70% {
        opacity: 1;
        transform: translate(0, -10%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}
