.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    width: 100%;
    max-width: 400px;
    background-color: var(--pure-white);
    border: 1px solid var(--main-color);
    border-radius: 12px;
    transition: 0.3s box-shadow;
}

.box:hover {
    box-shadow: 0 0 12px 3px var(--main-color);
}

.box img {
    margin-bottom: 0.6rem;
    width: 50px;
    height: 50px;
}

.box h3 {
    margin-bottom: 1rem;
    color: var(--main-color);
}

.box p {
    font-weight: 300;
    line-height: 1.6rem;
}
