.footer,
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    width: 100%;
    padding: 2rem;
    color: var(--pure-white);
    background-color: var(--footer-color);
}
